# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Training dataset
*.zip
coco/

# Run record files
runs/

# Deploy CPP source
app/

# Detector scripts
scripts/Detectors/

# Executables
*.exe
*.out
*.app

# Python envs
venv

# Catch files
.idea
__pycache__

# PyTorch models
*.pt
*.ptl

# Onnx Models
*.onnx

# Build folder
build
bin
lib
.vscode

# Deps folder
third_party

# Runs folder
deploy/cpp-ort/imgs
deploy/cpp-ort/runs
deploy/csharp-ort/imgs
deploy/csharp-ort/runs

# Build folder
deploy/csharp-ort/bin
deploy/csharp-ort/obj

# BenTeLe project related
deploy/csharp-ort/models/labels_btl.txt

# Local vscode configuration
.vscode

