# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Training dataset
*.zip
scripts/coco/

# Run record files
runs

# Executables
*.exe
*.out
*.app

# Python envs
venv

# Catch files
.idea
__pycache__

# PyTorch models
*.pt

# Web App modules
app/node_modules